<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation</title>
    <style>
        body {
            font-family: 'Source Code Pro', monospace;
            color: #444;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
            background-color: #eaeaea;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #007acc;
            font-size: 24px;
            margin-bottom: 20px;
        }
        .footer {
            font-size: 0.875em;
            color: #777;
            margin-top: 20px;
        }
        .app-name {
            font-family: 'Source Code Pro', monospace;
            color: #333;
        }
        .app-name span {
            color: #E86044;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>You have recieved collaboration invite from {{inviter_email}}</h1>
        <p>
			Please follow the <a href={{ url }}>link</a> down below to start collaborating.
		</p>
        <p>If this wasn’t you, just ignore this email and keep coding the good code!</p>
        
        <p class="footer">Cheers,<br>The <span class="app-name">collabor<span>8</span></span> Team</p>
    </div>
</body>
</html>
