<p>Hey {{ name }},</p>
<p>We heard that you lost your password. Sorry about that!</p>
<p>But don’t worry! We've gone ahead and reset your password for you!</p>
<p>Your new password is: <strong>{{ password }}</strong></p>
<p>You can use the following link sign in and reset your password from the profile:</p>
<p>Please click below to reset you password</p>
<p>
    <a href="{{ url }}">Reset Password</a>
</p>
<p>Happy coding!</p>
<p>Love, the Collabor8 team</p>
<p>If you did not request this email you can safely ignore it.</p>
