#root {
  --menubar-height: 60px;
  --tabbar-height: 40px;
  /*@apply max-w-screen-lg mx-auto p-8 text-left;*/
}

.logo {
  @apply h-24 p-6 duration-300;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-padding > *:not(.custom-banner) {
  @apply px-8 sm:px-0;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
body {
  overflow-x: hidden;
}

.card {
  @apply p-8;
}

.read-the-docs {
  @apply text-gray-500;
}

.react-codemirror2 {
  /*padding: 0.5rem;*/
  overflow: hidden;
  min-width: 100%;
}
.CodeMirror-sizer {
  margin-top: 1rem;
}

.CodeMirror {
  /*
   * please don't touch this - otherwise the editor will break
   */
  min-width: 100%;
  max-width: 1px;
  padding-right: 0.5rem;
}

.selectors {
  flex: 0 0 12rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.data-panel {
  overflow: auto;
}

/* speech-bubble */
.speaking {
  border: 2px solid #00ff00;
  box-shadow: 0 0 10px #00ff00;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #f03355) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}

.fade {
  opacity: 1;
  animation: fade 2s linear;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ultimate {
  background-color: #f16145;
  color: white;
}

.glass {
  border-radius: 16px;
  box-shadow: 0 4px 30px #0d78c41a;
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(96, 163, 250, 0.3);
}

html {
  scroll-behavior: smooth;
}

.line-numbered-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #1e1e1e;
  overflow: hidden;
}

.line-numbers {
  background-color: #333;
  color: #ccc;
  min-width: 50px;
  padding: 10px;
  font-family: monospace;
  text-align: right;
  user-select: none;
  border-right: 1px solid #ddd;
  display: flex;
  margin-right: 8px;
}

.line-number {
  white-space: pre-wrap;
  font-family: monospace;
  user-select: none;
  color: #ccc;
}
.text-content {
  padding: 10px;
  white-space: pre-wrap;
  font-family: monospace;
  overflow-y: auto;
  word-break: break-word;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.line-content {
  margin-bottom: 5px;
  white-space: pre-wrap;
  word-break: break-word;
}
